body{
  background-color: blue;
}
#first{
  height: 300px;
  width: 300px;
  border: 2px solid white;
  background-image: url("https://goo.gl/C2eDu1");
  background-size: contain;
}
#second{
  height: 300px;
  width: 300px;
  border: 2px dashed red;
  background-image:url("https://goo.gl/ximnAL");
  background-size: cover;
}
#third{
  height: 300px;
  width: 300px;
  background-image: url("https://goo.gl/QM8vR4");
  background-size: 240px 240px;
  background-position: center center;
}